.App {
  text-align: center;
}

.App-header {
  background-color: rgb(145, 139, 139);
  height: 80px;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  color: #010506;
  margin: 40px;
}

.gamma-table {
  color: #010506;
  margin: 40px;

}

.td {
  color: #6c7070;
}

.div1 {
  margin-bottom: 40px;
}

.div2 {
  margin-top: 40px;
}

